{
  FIREBASE_API_KEY: 'key',
  FIREBASE_AUTH_DOMAIN: 'domain'
  FIREBASE_PROJECT_ID: 'project',
  FIREBASE_DATABASE_URL: 'url',
  FIREBASE_STORAGE_BUCKET: 'bucket',
  FIREBASE_MESSAGING_SENDER_ID: 'dender',
}
